* {
    margin: 0.01%;
    padding: 0;
    box-sizing: border-box; /* el ancho de los elementos incluirá el contendo + padding + borde */
} 
html {
    font-size: 60%;
}
header img{
    width:100%; /*la imagen ocupará todo el ancho de su contenedor.  */
    margin: bottom -1%;
    }

header {
    position: relative; /* Para poder posicionar el menú respecto a la imagen que está en el header */
}

header nav ul {
    position: absolute; /* posicionaremos el menú de manera absoluta respecto al header que 
    contiene la imagen */
    top: 40%;    
    width: 100%; /* recuerda que un elemento posicionado de manera absoluta, ocupa solo el ancho
    de su contenido. Para centrarlo debidamente en pantalla, necesitaremos un ancho 100% */
    display: flex; /* lo necesitamos para centrar el menú  */
    justify-content: center;   
    background-color: #f5bd068e;
    list-style: none;
}

header h1{
    position: absolute; /* posicionaremos el menú de manera absoluta respecto al header que 
    contiene la imagen */
    top: 20%;    
    width: 100%; /* recuerda que un elemento posicionado de manera absoluta, ocupa solo el ancho
    de su contenido. Para centrarlo debidamente en pantalla, necesitaremos un ancho 100% */
    display: flex; /* lo necesitamos para centrar el menú  */
    justify-content: center;    
    list-style: none;
    font-size: 40px;
}

nav ul li {
    padding:1.5em 1.5rem;
    
}

nav ul li a {
    font-size: 2rem;
    color: #050111;
}

/* ****************************************  */
#Introduccion{
margin-bottom: 2%;

}

#Introduccion h2{
    font-size: 3rem;
    margin: 1%;
   
}

#Introduccion p{
    font-size: 20px;
    margin: 1%;
}

#Introduccion img{
    width: 49%;
    margin-top: 2%;   
    margin-bottom: 2%;
    height: 500px;
    float: right;
    margin: 0.5%;
}

    
/* ****************************************  */
#Funcionamiento{
    margin-bottom: 2%;
    
    }
    
    #Funcionamiento h3{
        font-size: 3rem;
        margin: 1%;
        
    
    }
    
    #Funcionamiento p{
        font-size: 20px;
    }
    
    #Funcionamiento img{
        width: 50%;
        margin-top: 2%;   
        margin-bottom: 2%;
        height: auto;
    }

/* ****************************************  */
#Adaptabilidad{
    margin-bottom: 2%;
    }
    
    #Adaptabilidad h4{
        font-size: 3rem;
        margin: 1%;
        
    
    }
    
    #Adaptabilidad p{
        font-size: px;
    }
    
    #Adaptabilidad img{
        
        width: 100%;
        margin-top: 2%;   
        margin-bottom: 2%;
        height: auto;
        
        
    }
/* ****************************************  */
#Conclusion{
    margin-bottom: 2%;
    }
    
    #Conclusion h5{
        font-size: 3rem;
        margin: 1%;
    }
    
    #Conclusion p{
        font-size: 20px;
    }
    

    footer {
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
    text-align: center;

    padding: 20px 4px; /* Ajusta el espacio interior según tus preferencias */
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: medium;
    
}

.footer-content {
    max-width: 1200px; /* Define el ancho máximo del contenido del footer */
    margin: 0 auto; /* Centra el contenido horizontalmente */


}



